<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habit Tracker</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/header.css">
 
    <%- style %>
</head>

<body>
    <%- include('header') -%>


        <main>
            <div class="layout-main">
                <%- body %>
            </div>

        </main>

            <%- script %>
            <script src="https://kit.fontawesome.com/4286c095cf.js" crossorigin="anonymous"></script>

</body>

</html>