<link rel="stylesheet" href="/css/startpage.css">
<div id="stagePageHeading">
    <h1>Welcome</h1>
    <p>Time to build good habits</p>
</div>

<div id="stagePagebutton">
    <button id="startButton">Start</button>
</div>

<script src="/js/start.js"></script>